.ui.message{
	background-color: transparent;
	text-align: center;
	padding-top: 50px;
}
.column {
	background-image: url("https://media.timeout.com/images/103644030/image.jpg");
	background-size: cover;
}


h1.ui.header{
	color: white;
	font-size: 60px;
	font-family: 'Indie Flower', cursive;
	margin-top: 10%;
}

.jumboContent {
	color: white;
	font-size: 20px;
}

.cocktailGlass {
	font-size: 5px;
}